*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
  color: #404040;
}

/* Typography */
h1,
h2 {
  letter-spacing: 1px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 3em 0;
}

h2 {
  font-weight: 900;
  font-size: 1.3125rem;
  margin: 0;
}

strong {
  font-weight: 900;
}

.intro__small-text {
  font-size: 0.625rem;
  display: inline-block;
  border-top: solid 10px;
  margin:0;
}

.intro__title {
  color: #fff;
}

.policy-text {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
}

.accent-text {
  color: #F18119;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/****************** Layout ********************/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0  auto;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

/* intro */
.intro {
  background-color: #404040;
  background-image: url(../img/dark-ribs.jpeg);
  background-position: center;
  background-size: cover;
  padding: 2em;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.intro-content-small {
  order: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* main */
.main {
  padding: 2em 0;
}

.main__subtext {
  margin-top: 0;
}

/********************Media Queries *******************/
@media (min-width: 750px) {
  body {
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 3.5rem;
    margin: .5em 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  .intro {
    min-height: 100vh;
    width: 52%;
    position: relative;
  }

  .intro-content-small {
    position: absolute;
  }

  .main {
    width: 46%;
    align-self: center;
  }
}